/*-----------------------------------------------------

  Title :  Personal Website
  Usage :  Base
  Author:  Stefi Rosadi
  Edited:  2018-12-20
-------------------------------------------------------
  Base include color, font, reset html, , setting padding margin, web size
-------------------------------------------------------*/
@import 
  'reset',
  'variable';