/*-----------------------------------------------------
  variable color, width, calculatation
-------------------------------------------------------*/

$color-1:#656464;
$color-2:rgb(148, 3, 14);
$color-3:rgb(230, 181, 28);

%section-wrap{
  width: 100%;
  box-sizing: border-box;  
  max-width:1280px;
  margin:auto;
  padding:50px 100px;
}
// --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// Read more : https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
      -ms-flex: $values;
          flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
         -ms-flex-order: $val;
          -webkit-order: $val;
            order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin text-over($lineHeight, $maxHeight, $lineClamp){
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: $lineHeight;     /* fallback */
   max-height: $maxHeight;      /* fallback */
   -webkit-line-clamp: $lineClamp; /* number of lines to show */
   -webkit-box-orient: vertical;
}

%center{
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  flex-direction: column;
}

@mixin image-set($url, $position){
  background: url($url)no-repeat;
  background-position: $position;
}

// SET UP FOR FONT
@mixin font-set($size, $color, $weigth){
  font-size: $size;
  color:$color;
  font-weight: $weigth;
}

// SET UP FOR BORDER
@mixin border-set($border, $radius, $shadow){
  border: $border;
  box-shadow: $shadow;
  border-radius: $radius;
}

// text over ellipsis
@mixin maxwidth($width){
  width: $width;
  max-width: $width;
}
@mixin text-over-ellipsis($width){
  @extend %ellipsis;
  @include maxwidth($width);
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// Image url 
$intro-img-1:'https://lh3.googleusercontent.com/TUQnQLf4AUFZan8pOawk-7aWTyyqXMCV4xoYPx5EcjlfVd9GcH3IWWlqxchk4g_vMoHxRHNjyFSmZmzSCVfPgxThVNU31ulxmokZFQWxiRDhDasqCmw4htE-mYK2Re2qqrS_HepRTA=w2400';
$intro-img-2:'https://lh3.googleusercontent.com/CvnEmI_EFYtWkruwnlRrMI7czxWsrzxar3UB1bLVX9WZ3fBgFClnDsshn46P9qsWl4JnftkCmwF3uHnonGIVA5G3xXVJYnNiu9_s7zIr0C_CyND_XBWaMKSNWPeqC4HkKLVP0WhUEA=w2400';

$about-icon:'https://lh3.googleusercontent.com/MYkB4hsJczteDo4wmdp9tnWtNLj4_B4_NswEwTQq_ZR4WG6-UxCn3T8QeLL590dHHIV1n3qFNSPQlqyOq9Be-fk_Hw_gA37PYZv4J90hMUwEN0BsvVdxF5mOVL5M86KHJ8ysD5GEZA=w2400';

$skill-icon-1:'';
$skill-icon-2:'';
$skill-icon-3:'';
$skill-icon-4:'';
$skill-icon-5:'';
$skill-icon-6:'';
$skill-icon-7:'';
$skill-icon-8:'';
$skill-icon-9:'';
$skill-icon-10:'';
$skill-icon-11:'';
$skill-icon-12:'';

$port-card-1:'https://lh3.googleusercontent.com/kW6XLbq9hkcZNIBIRr6FLIyr3u09cJqLbcrmiiLO8ouJleIRO8Pp6S-JW8XwL4l_7prDliyNwryK2ljK-rNLibe4NlIJDgxLqmCCw6aScIhc6g5ku6z8cUIytwFBdN19c7RpRyQ2Nw=w2400';
$port-card-2:'https://lh3.googleusercontent.com/nsyxVClRHKnK6yxzNdDzwecxZjPnq9HopbajZWQnDDlYUaj_WDDlfX_lPFbH89E4rs7CjEQ6BJWPphW2s1WkRMUiVBWU1NR14FmfL02_GKX-84RLZxZQlc2hZGQnRSGN_PGRowiMoQ=w2400';
$port-card-3:'https://lh3.googleusercontent.com/mBRmbS6Z4uH5LEN6ZgOIXww07KOC2ytIVp5yU3df5ywHLMyAWIz_aTfU3P4WrTwNBkV2UCdi8Q7KhYLfvb176AHbWuLatIURSEJkQOIQRcQU3D-oKkNHc5breS4VaK1tXEB2Puj6NQ=w2400';
$port-card-4:'https://lh3.googleusercontent.com/5gzcHqEAVnjVa7z4WBoFmErTnkKXxwOV-vXeHNI_2y1HuriRZoyFqWWPhZ_TpqF_E1roW0iGO-QL5fVohnt1661HYAqQLC5g2q3ljSgDxzyxV9KChqTxlLWwDLU0AqBoSsSbIyCCGQ=w2400';
$port-card-5:'https://lh3.googleusercontent.com/u6eOiGSmqd-mDZe0gOV76kZaRl_gVHcl1P76FO82DuLK3Wy-xP5CpWwljFSrIvoIU5bM3fhxlSqc1tLIlEXXrscHp5khBPXO0wiNfV4KXFC2xkE9ABTkILBQYJjbL4flyh-2J1blkA=w2400';
$port-card-6:'https://lh3.googleusercontent.com/MjlC9-FwgfJlHftLk1dQv2YZPaKnpAa0gdg7DpiPGELblJ6Q_5CyRLdDV1CaliOioirhdMAVtr0N4eh2xsJTR1Vy8DDZn70T2W3wxtTJQ7lAKs4gL46yDVcAZbHOCDVKuPP7iyic4w=w2400';
$port-card-7a:'https://lh3.googleusercontent.com/h_lX0NaC96gNdtVOwIvhutFasksW3-cy-O4xC4dxm2I-F0qKIYI5qKSsLfNyyL8f8eRLmrKimkkdSvx9Knaj2iG35aaeYRk093ujwPu1OdB8Vt7zdK_9h5iF7bKqAo2w062akN3y2w=w2400';
$port-card-7b:'';

$port-icon-2:'';
$port-icon-3:'https://lh3.googleusercontent.com/2WC08J3Ok_WC-E0qkPBBtl0APMQFpVH6bLzrcdfozHPYn9JtC5SvgAxIVrTmIv0IP8jY60dKqTIE2EifrYFMhPKtkjyYGofu6iDZsaILD5H5g3Ziz7hSfSstTMtjJMhbtuk2llaO9g=w2400';
$port-icon-4:'';

$footer-icon:'https://lh3.googleusercontent.com/56ZmOiScfsuhkHn5j5BI722SlbzLIzJNQVu6jrzpfg4vUKzI2Ks1vYXtr9PocSbUI9k4FnvO0kj0va4psxlE17F21ScpL-J7JZsFGBW275Ngx4LCzw39A8dgmoA-KkEA0sPZX11I7A=w2400';

$gallery-wrap:'https://lh3.googleusercontent.com/IXbj_UmjO-mrXKXJ6X0sw6BbsQhn5wpSxf5ENT0sEmNOgnEF71oGMRKH9sSkClJLm1erjveD2m6QGV6lZw3t0e-K3BZMXJxrPlFJdZUo_4EOLH1ZsBWZO5QSvZESHUHR43ZvK5oKHg=w2400';

$jupiter-pict-top:'https://lh3.googleusercontent.com/lhqNLdvXpnOi8DRwwhtEjnOdt9Pj5RitLqgGystpUZd0hiVOLVdSJY09z2pq34cVfJwLqinGiz0Y7nAjildelW_prfC3EAgdeDYa7HBQo-ZOtze0krk_JsQ0VNQF6TdjHVg3NbN1YA=w2400';
$jupiter-detail-1:'https://lh3.googleusercontent.com/9DHZ6wB3UiDXXX7cyixPAkcFDecfVn0Z7st_Uh3Ey-KMd8Wjd8bij3hWg60rbhK-7FTBrP__qXCp_YHNzvuRtlOFYtCazEeOPuzzCJ88XlHeqPD4wHMJGUG9VUoctGiixiqL8n3OmA=w2400';
$jupiter-detail-desk:'https://lh3.googleusercontent.com/fGgSYSAREHyelpKT9F3FwJ2MHeEPKMv12jiKIlnb4bZBZgGUUhj9bjfRHbBmMOAATzS779Ip9H-I7_OIdi3sPVKiVHoXaWmIl05Vs-XkkDF06zE6qbhMxL7g4QhpWIBeBGab52vqqw=w2400';
$jupiter-detail-mobile:'https://lh3.googleusercontent.com/uMhwIqyHCH22t3xI5F7jGKoxIQi-zdaoIIGD6KLDdsGwcPAicVNShBd03NNrwinJipvQwHsNOkvvt10JZRdgGh_gz2MC7BLI3scx6mk5Dxb8xBDvCVhr6V3BPiIRMz4mu7ow0GbZJg=w2400';

$falcon-bg-top:'https://lh3.googleusercontent.com/eHOZOBQR0PgQ4DIxyjISEnWVH71rxjbT4rDHfo0Cw6F80mqeZUzZPPC_hgFgGll6DN3QY-3oc78E0P_71QjUJPGSf0Eb9g7ISH83aRgstnHl4DZZbt1RqDj6tlqeQoVY8jmhKGh9oA=w2400';
$falcon-pict-top:'https://lh3.googleusercontent.com/lhjYO4ToSzarCxm0rs5TgA8oLIioWYWomf31l8sS2d6QD9HFYK329nUHCwFmEuz9vJYs2YZczrl5tyKRS1fM5TsiAL2hvXEBg4SzoW5gsyEdHaUifVJ7IB6SbAobpPja54N5xwdhkA=w2400';
$falcon-detail-desk:'https://lh3.googleusercontent.com/rAIUw-ADdb_NhSLw1t5itFuaTGdZyvQwM6xGkwPpdXgK01tdxMHyZP839T1VTgq5-Nympt05Rrum3EsH-LgzO16dpN2ILR5RgFOr78P8DapKBN4H5X9lAdKDZQgUreYglS3duim04g=w2400';
$falcon-detail-mobile:'https://lh3.googleusercontent.com/K_-TMwFuPsmVRAFwhAZxvaq1tmyGM54E1CXU2lgUl1P8yaOet74dNklw_7nS9GRVGarKwTekyb1M1-aKX7nJxIWKwKotJadDZdD76_3xkD_7Ezjq4y3rrNn-2n0SQZbKzY8KQ5B3jg=w2400';

$pricentric-gale-1:'https://lh3.googleusercontent.com/NLnQLNXS_7nFocnum05wAohVQT1TjI4b7gPBdo8tJuyCdipJpJ6XY4rZLGfftgIKd96zNJCX7AHPHhvjqbPUtMV8zZ6aFKXP8QV-jOTwJeBYA7FCqyfv1N-AC3JbFbjoDn8M8Wn1Lg=w2400';
$pricentric-gale-2:'https://lh3.googleusercontent.com/G9-0_bDUm6cNrAhOywYAtC_wbf7Pcmtrw2U8CklzwPHRY42M1Pidk_HmUxjGflNyJ27bDahoXAphBshLGQKc7LOlMLnxwCyKkMf6_Ulq0xYiSP6lH167cqhxxlpTu-4QroAtfZUNeQ=w2400';
$pricentric-gale-3:'https://lh3.googleusercontent.com/g5kww173myoive2ywMgtUtlkfvTE0gjxcHA2QIOpoT4BTzAy-bJe7V0yYouO5xly7K50_dvBjxB7VdH4qHkBSlVKxQFpkcWExDeR8-qQB0WPhzRtYmORIy5DFgFXP7TiihoOTksc1A=w2400';
$pricentric-gale-4:'https://lh3.googleusercontent.com/_ynuU7tkzqd6DW3j55d26PcZFcuJz6lW_-qX0DYQmjL_U0fk7dVwGXq1St5JTiwEBFlbo9m80dVR6hn05dE1chGNtLyG5Tlv5mQGFVpXCHVaK61-bQEkqCNIY-OPFOIiBbEINrZhhQ=w2400';
$pricentric-gale-5:'https://lh3.googleusercontent.com/6t1aAcenzLmGastw_MpO-WsroVu4oVm5RanBfmcIvoUW54zd4Xcqh1FwtdcPKclHZS2gFy7i6x19q_giBn0IgKaaE-LeIy9OYm8dHlrHYr7BwQDSOLUN_qGQg9wroVKO0rXpHGbcEQ=w2400';
$pricentric-gale-6:'https://lh3.googleusercontent.com/HXAmNe-xcnPNUyRE-8zYZ0X5Xfg07Rl9ONAyxcMfYjJfQqbXBuBIihTMVbp3gO1sk29RqU7FG9DGsCCbW39_iIXTIJ8e8toPp65eztP574wOzMnh-QXeOwub9aOtwSHccbXCaGvpyw=w2400';
$pricentric-gale-7:'https://lh3.googleusercontent.com/RxJbtpIkHwdwUtHLtC7o-aDOqQVf5t5B1I4w4fqvZ6LPDDnC4lT3jTMjzDt_ztrXGHByqygEFkE6qU02ReeYDEQqIeT4t_Izy6kPTDc2-HtRnkQ8wLlAJXnWEDpOea4USaLW80VoCg=w2400';
$pricentric-gale-8:'https://lh3.googleusercontent.com/3GQrVaGONqQtS8FJL2np5KkFtEHaV0gAUNrtkfNNkpJz3hd7mFPWzZj60WwPkOa42hxCwDsrkpxehZn73E_zvBfF_WHNLWxAyl_0GHKYn7OidIl5YFd9wiNf6qzNrNAfvhu8U44atA=w2400';
$pricentric-gale-9:'https://lh3.googleusercontent.com/DuOofum4pyjdOMkNPDbFBxvUKTR8Bgv6KLbQbzypYcCCLRLa0WcCLn2yXRAPMcNR8S_uIrxaVUEVLa0sWoiuftwSCzM0HrxKGhHBUAWQPVbeHBi5NvmKv5UB63DFjKY1y8vT18oe3g=w2400';
$pricentric-gale-10:'https://lh3.googleusercontent.com/U_9xwmRam3T9QyZWvUFIoEjvoX6LERnYm4YFZCXrw7B3ovKm5kf_EXACG9OYoGjfsv2pU_08XJiTbdO-hlMlSqHlRGIk2VTkumyF0OmsGZKoqequlBJx28do1c0MbjwPiXfY0-NYQQ=w2400';
$pricentric-gale-11:'https://lh3.googleusercontent.com/MqNhei-pE6FriwBJOKgVpqi2PlBigWvdBgTSbopzR_5NNwrdsZasba6Mq78GLsRReCTjzKxMf_qkZW4iwOczlaeHCe7DduyifAjTA3NJLeophDjxqI7g3JMuNZJhsaSoyUoH-8aEeA=w2400';
$pricentric-gale-12:'https://lh3.googleusercontent.com/MHmGPZ-RgsOjav-lhG4PKiX_9C1hhI3kY4Kgxv8wUv89la2bMxP8h3l9ZjvbWwZhxsw-3JKeXmYwoj0wEk7hf0IF3wf8Tv9Hk3FHaC2rmo4uKZQj0X5stTnxe2_Y5sDBxlJkGW55gQ=w2400';
$pricentric-detail-1:'https://lh3.googleusercontent.com/6PH9Utes1QFzb6v3rc9pUX0XjwgZINZtQRHkG_Bw8kfjYk1vLyvAif1AxPdiOKkv1ybhPaf6RO8HzJAPl3qJF7Fc5nZlVfENSQdgiZKqPNj1lfSNCihbLB25aKKT2JAKKJ2ma3OUPw=w2400';
$pricentric-detail-2:'https://lh3.googleusercontent.com/3-4S0OV955Oe4PCCBC6HXpfmhHeox-cVAElwSfRyzU_MdUFTMUze8XlYcAonpOEji6xLPz2lI7lsl3pvyhw8Iih_OQbNxyHQm1N0fvBCSHbvt2cksRALaQi-JcbdZrgcOgggWfCHSw=w2400';

$borderless-pict-top:'https://lh3.googleusercontent.com/hfENidKpSB3xpvAsBtkz_HPVwsUYD2txjXF1Y9SRbAUaSPLmy606Aj-jEJMT256A-y-29on49qhqL1aBF8wJ3_clhwYpGH-VlXFxohsxmR1VQUn36Mr0JFQJiHorawockXSw47wsVQ=w2400';
$borderless-detail-desk:'https://lh3.googleusercontent.com/-zjCfx1JCMfr-cm6KFVSBtexpYeW7ynP5FGHyf7FVtYnaO2nGqUo98dlQHX2fkjovk1BZlDGORsEkpgE1H4PZRjoaXeMTejcmxsDPdSvI1YeKqSNSvH8eIe7V1W9IhM8S-2nS5zjvQ=w2400';
$borderless-detail-mobile:'https://lh3.googleusercontent.com/oaPTH7HtyOCD0vHJgPvX2LX4TuqHLdUaV_Y3ZzUyfho2LRKdCOWx2byIUi2mL06QcvNYCAEkoT96mckBNjbNTAIWcD44Z79-wkDiKPKk3eDB8X4aHcBeSF_gplJatK5KlhJUoC9egQ=w2400';


$museum-gale-1:'https://lh3.googleusercontent.com/JiNL4PyuoQx6FUAXxkWT4B_82-VseeC5tfbskjK3G-3gRjtN_icucSO5OB4xJCd-yG18W93-Utx3Zb2NEFxMN6CYD9m4c_DMTYF3yBqGRekgSXyfYeml3Z3aTa1xlTMUO2kv-cU66g=w2400';
$museum-gale-2:'https://lh3.googleusercontent.com/2bKsYI_IeEwL78uVi5pI37wZ1HDemyAK8Ze6gys7ssKIxt892AHm-BPDJ22B6j0XrheehjkVMC_A752XYL7DtZ0kHP9XmGtgi8ulI7fdPCQyDu9x-6UbEGZGCV9neS8AETa27Z5K3A=w2400';
$museum-gale-3:'https://lh3.googleusercontent.com/QMpECt340hNrMCKgvKELygkmkfJAxk0KdyABBPz535NrLYGPsiCOMHpME2EUHA5ECghTaA2ROxeM0qszYU0tcW6J6bO6zoIcIWmDeARgmHcTBn1TJsGjP8VGPfi5rcnB9Op5Ut0eKQ=w2400';
$museum-gale-4:'https://lh3.googleusercontent.com/kpQkIoKjqPvQT55dFpRz1zucO9Wx9Dtv1Vh3O528zeu7Aue0sb4TcrTHb0CSLCeltUuyP8UzD1N8rfQqJn6vKqsC0cuCBUr0IidqSh4Hf6RN0zwWtrUluu8sG13D5ClEH7k4YNV6-Q=w2400';
$museum-gale-5:'https://lh3.googleusercontent.com/EGuQe4G_8gqrRRcL8r2BuEUiXeIFcQZDJTHeNc0CBE8d4AhKku7fQmzmi6wl9KbUNvqwcSErq2njJ4Di3ghpiKtGr8a3Y7GT6507pbfdeXmeI95Mf1v-lyeFuxqtNJwvTJqmBAs9hg=w2400';
$museum-gale-6:'https://lh3.googleusercontent.com/37Wsp3fJm9oUbVW43WTet5671yyl4Xn2cwC1PYj0ug5GAqFtpaoNSsfai3l2yvcFyMoq3oiYQbJTCIwFinOpEpc6zPQI82szMDfZF4yFDNR0i572omoCbOa3zK4kArWByZP0jCerFg=w2400';
$museum-gale-7:'https://lh3.googleusercontent.com/B1xZ2-bC6tslNBzr1AZkuS4KL-aLnTSdy_Zyo1tzyGgvIhe64npaJM7SDHP6IIgNZCsfIZyuGNTPRjmy6gRcdE8MvmiLuY1u2IyIPD5FwbbJCDbf28MqrNj9kg4I7QIKkd1LWXfLpA=w2400';
$museum-gale-8:'https://lh3.googleusercontent.com/PGIBQOSyIkbcOWQGsGmnVkKQYSpR4089BHl3IvJZCJ1XHTkjSuVxJ6BysWSz_YqU3iA83J8dS5wQOW-sHs1lyjFcDG_7D0QT6xOLtV_bjxDUlo8_5nnmsa3Iz-SckIhlkipWU2ceGA=w2400';
$museum-gale-9:'https://lh3.googleusercontent.com/iM9vkPbt1-NFTpqACugpBHgfkIAyVHYOJnqFeUijx95k_qcRsHsIU0t3h9SdncukxF-LfYYX79BlqBDlbxqqrVZjPtMdozOcn4SuFigenoBJEZv0vCyqA_xLMRAiqV_dtHX_ceJWFg=w2400';

$archive-gale-1:'https://lh3.googleusercontent.com/Wfetkm8YPIal13J1CJZC_4zhOJDZdBE66rGDexRk4qzhzRzmYT473SeRbmy6TQ0uovJC0K523V7oXWbr8TJu2qJSKkKXPgJyYalu5VtgBYIarBq00mPCn-xAQlXbH8DLS8NdpJ9_VA=w2400';
$archive-gale-2:'https://lh3.googleusercontent.com/s5tXeb8Q_QnhsbMRmk70w3NRyrAQc9dwnzlx6b5bOxWFrgXs3WwBxcBliYxgXhAIDotx_jyyDmTCbcvHl5gqMgAW7BchMDOC9qB_A6YbyL4rhOuerr7LcqH6E_L7lOTPY5kN24jqHA=w2400';
$archive-gale-3:'https://lh3.googleusercontent.com/9kbGTVrVMWzrURywGRLNr3XHVzB05WRiQaVXCEcj_mDtptTWUCJjW5l85r20WuTm5pUKd52b8b11eRwtdnj7b8kUiFJ4Pv1gTJCo9tP59M1LqxutHLhZPpmra5HcYvTfCOgLaqmNaw=w2400';
$archive-gale-4:'https://lh3.googleusercontent.com/MTFBM2NiTb5Vb7JP0XvZG1-lW36yNNDn_r3glbeZnnkzwPvjp-EWFJF1eWQUUY8EqcPr6NpG--tW8ay1jZH6CFRFs8gegbsorWQYYinP3MqmrpcqQWicwJ-8PDWR62iveUMFr7Sybg=w2400';
$archive-gale-5:'https://lh3.googleusercontent.com/bgRVMsahSXTUi-7a-yUrGFsMJY-v8Z6R3YJltKzFbuAiSfTxoZb5a5I04bQBSJX2NsAHyl-rFSlMlMnIf7m9OdMM1aFsH29X0SobtIfqG5hhkA_JinonswR3jcJuwf8hBER2ttmkgw=w2400';
$archive-gale-6:'https://lh3.googleusercontent.com/-WWRbEKCMz6n4F6L9nUE-C3xhcnG_xmHHuGBtF4KrdrfzRfu8rYZADp-X1uaeWQUifASqQGIOSkJgMAtVQuvaBCfsTvCYw-jAQKGwqW8vnxOErnk4qowNO8G7gASiMsmzHzD_JvEPA=w2400';
$archive-gale-7:'https://lh3.googleusercontent.com/Kpvvpskb0YF1UdQHL7j1l3X5Jd5QMNtL4Qb-zqk7FEur4Ur3q11G6eTMEmqy5I_EMD2hzW6XG6175CCpqQshaz2wOL86tWUdeeZjVsWOh7Bg5fE2RPrhTUaUv1Rvjrpphoi3fdw-hw=w2400';
$archive-gale-8:'https://lh3.googleusercontent.com/kbQ-KfO4ZwAfj3hQl0y64UsmlEVP34nUwFUruJN74rg0KNvjo2AF1mbmz8pF5tP7_mRDT5EnQe95bxOsJ-3XO2LA8uY2eXb3Ykqd_W_LszcQ3wMoekQdcdIN8ND8iX3IEFm3yZA5lQ=w2400';
$archive-gale-9:'https://lh3.googleusercontent.com/gTtX6Cjg-D0gtDcyixmly7WZd0SRn-N9CrHAGy_6ak6sqzra-fgI0gPLNDyn9UMvKAb7K6k2zS9QPnrm2BL4YXkAeYNLgwSe3qGLPe9lQ1XWmOMmgetiyb0H-PpLtifqCMeFS_hLlg=w2400';
$archive-gale-10:'https://lh3.googleusercontent.com/pe0_mtnYusrc3TIvUiwxmZ9YtDAZNTAOiWTfeVgu-Vs_WIyOOzI4j0fpFQSoClbjf3L9ZyoSlewVXG-ty9MOKKJwYq25AF4eqryJDyh1JxCk7iiakE1PKRB6Lkq_Ikk1yZD9Kl6BxA=w2400';
$archive-gale-11:'https://lh3.googleusercontent.com/afwbMECuHQkJHd5FFkVxuDullwG8ZO8CNGieOSqmHtwi4LwvDdhRuyOoHoMBVfjrlyrjmxm6SZPgVZP9Zl0exx0nsn7R1kN2NHlnuadexpKdTl9wXWmMw5M1ngUnVdEewqscP0waSg=w2400';
$archive-gale-12:'https://lh3.googleusercontent.com/gQsdP4Dy03VV4d9ZuqDcs5CbGKtrkbqyHWI9YlpCP6chFYjRTSr6L3ev5Cs5cnsfXdvOGZXzNaxl-PjJV9BnUdAT5k-m-V_IfntR5UwmIRb7wxkaGaTONjCnugclKEwnd8F3q4Jm1Q=w2400';

$pms-card:'https://lh3.googleusercontent.com/L9XW2P3QuaUfYcMM97NjcmTK8ayto1Yl4nhD1xXaTcvy2Gum3TTNOIqrMDb7DvLlv03mqeg4sAOYJxvj4EY4yldQKMr8BV1Pss2T4t3Cv10G84nal5G9oKdmbofMHrQomTUnFseN_w=w1920-h1080';
$pms-card-detail:'https://lh3.googleusercontent.com/1iQK0r5d1ddBSZ1Q86Td1Nddg1IqiBhfTeGN7XBDwWxHKxqBjitYD1CMasHYOZgWfC-mkJntBcCNj9-bTP1z1p6DVew9-Lzh2r7rTOTZ-9tC02Sg8CrTEWbQuL0akb3iQOkH1R9hHw=w1920-h1080';

$gallery-2:'https://lh3.googleusercontent.com/r_NeBbLuiPHl7mgDF1xS28-x1t-IR2QTxOOEGGVP7bAsAQrMjM9_D0f4dQuGAB-eKGEHYIl7Vvohu9gO4W7fPX3pLgYtFod6HMURRs489G9QujKdsorWGT0qjZFbb2Bz4a2yQK64-w=w1920-h1080';


$fnb-card:'https://lh3.googleusercontent.com/sFSPrCKegCr3K5sdZoEr9Wu3ZdmRgP2OaXevpcrJjLqyg-s_GrgK_mks_5jRYLlXEXgEmwCKtgm49bRpQIu_cuQNOBmFiOLSnkkR1a4ApksV7B6uVv4EbUp_ViCTMSoITWbhWNoVHg=w1920-h1080';
$fnb-card-detail:'https://lh3.googleusercontent.com/Iz29y1h3z-m1NCM-EKUnrnyeSXkMSgIFCDAc9LFmDaMUc9JrTiADbE14aYRmJGoMCax7NcJZB9TJk02wWfaDILQRyAJT28cWhHdoNt4GHBU7KWDQWR9z-73ANMaKvTdMth6H8Fo96Q=w1920-h1080';

$crs-card:'https://lh3.googleusercontent.com/NkEePqHW1AgHXYeqGS3fCkwYWsSxe63imJ6Swb0KStk9R97yQmEkkc-uHKaNR_NA_qRyAtTq9iLTV8HD61UhSQ0XH2xAyahw9G6B1_8PttcAbdodXJaz1geaZ5cpxQny3HgDYjhAJw=w1920-h1080';

$caphost-card:'https://lh3.googleusercontent.com/h5DT5tZvoRXWUMkAob94V9kF3lQx-5dyD8haY0-6vyQdrT2tlkNgGf0vljRLjLf11oDhc07Tw4jfAzwSwBvQusXWoDQm4YasrlnHNsrs3dYZuP00W1JFyG5qbNJetyUnyXS3Wky5YA=w1920-h1080';
$caphost-detail-desk:'https://lh3.googleusercontent.com/qnc_r0DRz_Gdc_xNl7Rv_uGQnsm2epl2hV8zHJOOm30dEikmxyVqZEGUfCbYcCrgzPTKfNIvcpEHLwSQGvrcct3GMGxvu04My4850hEIR2UphC2PIWiE13n94KLdrjMmIif6VEhPEg=w2400';
$caphost-detail-mobile:'https://lh3.googleusercontent.com/nxsJTcTezb3MK-VgtabkfI6gOxtcWGvwITeQOAjrRMaicgUe2Z1dxxs-xlw80v3UQ2IIdiw3fdfQx_qJusX5_6opjDSB5dfIYcYObzqPU_SLTPgzIe1-RwvcOshwxnxbVU2ypr8kZw=w2400';

$be-card:'https://lh3.googleusercontent.com/hlSaf9jx9S6tPXwtacYTbrhm2BhDxCgsIVL3axn6QiK170kuEJ0XPtYwmivHoFHrIKRoLuzVqxTohY6WNj_pRAQCsoxuMII8TTpvEOEd7vFXDhWbPzDO6t8hRE1fYowIjWElmk3UGA=w1920-h1080';
$be-detail-desk:'https://lh3.googleusercontent.com/EgPrjyN1Y1mwQubmusNczPomv4Dz0jrZF26CD_uqdHprg1hjMXslsEL7cLJjPGintt1E_2JRLTPWthbn7-Yw6b2zIfMlJWGq6oOScEc69tT0hMdepe3SkjT4xYwdzNV9sKQDdys6Ww=w2400';
$be-detail-mobile:'https://lh3.googleusercontent.com/G5tO0f5m31kCYj1umcMFRzMSaLFIFxUvNbsHTvoppIst5y66GBkbC0gp3D2rDJq7REjIVf68T9CtOJ_kIaohfU5HnwLottIKsx4qLRa_92jmXeU7K3RJ9yhRjTO0RI_1zPtTuhxC5Q=w2400';

$ht-card:'https://lh3.googleusercontent.com/sbD6zGwhNh9TvBIUrKHcz5JT6QRSb4IOOjsCCMFELoqf-QkACFfDEqY80brIiMteW96MRs0H9J2vJYzI49MadcNsItvyfxOAoURlE44k0Exa4gEjYMa41HOB-NCI-troF7Yk1TIDzA=w1920-h1080';
$ht-detail-desk:'https://lh3.googleusercontent.com/fbmg0l08281jpnX-jcTJeFZossECSxyflX0P09DkiH-nc5VkQ5V7Or9PV7SG1JU_GzqdUPCr2LA-s7CSvmDEIZArziVZR_uKEhBijQLn3iLvMqDTfUSu-x5wWpV9JltjBCkWDScYGA=w2400';
$ht-detail-mobile:'https://lh3.googleusercontent.com/PdYGp1fGYCbe6KPYIHlqhyR7Ksk0CYxM2WiYMyFl7myB7GMmv11R22XS9xT4JAkzRkypD0HjlLnBD0dNi6mIgWLPVg1te4L3vaFST82pRLhqu4sJZ_j3s-keAdDgAjs22zQPuxLKhg=w2400';

$pos-card:'https://lh3.googleusercontent.com/mM1cFPyNXhYR-kgxVZNntZaPDBpQSMuTEfWaHfmqQob0HRo7ms9Mw_dPiBNA21APWswcDcC2V126jIj2_V7DrCvNgMCWmJr-0G4kvIZbCBpKUx02K2_6g2C19KElvhik-7zab-GwPQ=w2400';