footer#my-footer{
    @extend %center;
    @include flex-direction(column);
    // @include 
    font-family: 'Raleway';
    padding:70px;
    background:#f2f2f2;
    .closing-txt{
        width: 70%;
        text-align:center;
        margin:10px;
        line-height: 1.5;
    }
    a{
        margin-top:20px;
        text-decoration: none;
        font-weight: bold;
        color:black;
        cursor: pointer;
    }
    .socmed-wrap{
        margin:35px 0px;
        // @include flexbox();
        // @include justify-c
        .a-socmed{
            width:50px;
            height:50px;
            background:black;
            display: inline-block;
            margin:0px 10px;
            cursor: pointer;
            &#ig{
                background:url($footer-icon) no-repeat;
                background-size:260px 182px;
                background-position: -3px -125px;
                &:hover{
                    background-position: -3px -4px;
                }
            }
            &#li{
                background:url($footer-icon) no-repeat;
                background-size:260px 182px;
                background-position: -205px -126px;
                &:hover{
                    background-position: -205px -8px;
                }
            }
            &#fb{
                background:url($footer-icon) no-repeat;
                background-size:260px 182px;
                background-position:  -54px -125px;
                &:hover{
                    background-position: -54px -3px;
                }
            }
        }
    }
}