footer#my-footer{
    @extend %center;
    @include flex-direction(column);
    // @include 
    font-family: 'Raleway';
    .closing-txt{
        width: 70%;
        text-align:center;
    }

    padding:70px;
    padding-top:0px;
}