.header{
    background:white;
    width:100%;
    position: fixed;
    z-index: 3;
    top:-50%;

    transition: all 2s ease-in-out;

    .header-wrap{
        width:100%;
        max-width: 1440px;
        height: 100%;
        margin:0px auto;
        padding:20px 100px;
        box-sizing: border-box;
        font-family: 'Rubik';
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        .right{
            width:calc(100%/2);
        }
        .logo{
            cursor: pointer;
            svg#stefi{
                width:80px;
                path {
                    stroke:#94030e;
                    // fill:pink;
                }
            }
        }
        .nav-list{
            @include flexbox();
            // padding-right:100px;
            .a-nav{
                width:calc(100%/3);
                // max-width:100px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }

    &.active{
        top:0px;
        
    }
    &.transparent-bg{
        background:none;
        %port-header{
            
        }

        &.falcon-layout,&.crs-layout,&.pos-layout,&.ht-layout,&.be-layout,&.caphost-layout,&.jupiter-layout,&.borderless-layout,&.pricentric-layout,&.museum-layout,&.archive-layout{
            color:white;
            .header-wrap{
                padding-top:40px;
                padding-bottom:40px;
                .logo svg#stefi path{
                    stroke: white;
                }
            }
        }
        &.museum-layout{
            .header-wrap{
                .logo svg#stefi path{
                    stroke:black;
                }
            }
        }
        &.fnb-layout{
            color:#ffbf42;
            .header-wrap{
                .logo svg#stefi path{
                    stroke:#ffbf42;
                }
            }
        }
        
    }

}