.portofolio-wrap{
    @extend %center;
    @extend %section-wrap;
    .description{
        font-family:'Rubik';
        .title{
            font-size:70px;
            font-weight: 500;
            margin-bottom:30px;
        }
        .content{
            font-size:30px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}